h1 {
    color:rgb(47, 23, 180);
    text-align: center;
}

h3{
    color:rgb(3, 83, 63)
}

footer {
    text-align:center;
    color:darkblue;
}

nav {
    text-align: center;
}
 
main {
    text-align: center;
}
h4 {
    text-align: center;
}
